*{
	margin:0;
	padding:0;
}
body{
	background:#CEF6F5;
}
#contenedor {
	
	background:#CEF6F5;
}
header{
	background:#2E2EFE;
	box-shadow:1px 1px 5px #000;	
	border-top:1px solid #000;
}

div #imagen{
	margin-top:15px;
	width: auto;
	float:left;
}
	
header h1 {
	font: bold 60px "Verdana";
	color:#FFFFFF;
	text-align:center;
	line-height:150px;

}

nav {
	background:#2E9AFE;
	box-shadow:1px 1px 5px #000;
	margin:auto;
	padding-top:10px;
	margin-top:1px;
	border-bottom: 1px solid #000;
}

nav ul a{
	color:#6E6E6E;
	text-decoration:none;
	margin:20px;
	font: bold 16px Verdana;
	padding:15px;
	border-bottom: 6px solid transparent;
	background: transparent;
	transition: border-bottom.7s;
	-webkit-transition: border-bottom.7s;
	-moz-transition: border-bottom.7s;
	-o-transition: border-bottom.7s;
}	

footer {
	background:#2E2EFE;
	height:150px;
	width:100%;
	clear:both;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}

footer section{
	width:100%;
	height:50px;
	float:right;
}

footer #enlaces > div {
	color:#fff;
	float:right;
	text-decoration:none;
	background:#000;
}

nav ul a:hover{
	border-bottom: 6px solid #084B8A;
}

.container{
	margin:0px;
	padding:opx;
	
}

#contenedorBuscar{
	background:#A9D0F5;
	margin-left:0px;
	float:left;
	height:100%;
}

#contenedorMaps{
	background: #fff;
	border-width:5px;
	border-style:solid;
	border-color:#2E2EFE;
	width:90%;
	float:left;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	height:400px;
}

#frase{
	margin-top:40px;
	width:40%;
	float:right;
	background:#fff;
	margin-bottom:5%;
	border-width:1px;
	border-style:solid;
	border-color:#D8D8D8;
	margin-right:33px;
	padding:5px;
	font: 17px Verdana;
	color:#6E6E6E;
	text-align:center;
	line-height:30px;
	
	
}

#Autor{
	margin-top:20px;
	width:100%;
	background:#fff;
	text-align:right;
	height:25px;
	border-color:transparent;
	color:#000;
}

#partida  {
	width:auto;
	height: 40px;
	margin-left:20px;
	margin-right:20px;
	margin-top:40px;
	margin-bottom:10px;
	padding:2px;
	-webkit-border-radius: 5px 10px;  /* Safari  */
	-moz-border-radius: 5px 10px;     /* Firefox */
	-o-border-radius: 5px 10px; /*Opera*/
}

#llegada  {
	width:auto;
	height: 40px;
	margin-left:20px;
	margin-right:20px;
	margin-top:30px;
	margin-bottom:10px;
	padding:2px;
	-webkit-border-radius: 5px 10px;  /* Safari  */
	-moz-border-radius: 5px 10px;     /* Firefox */
	-o-border-radius: 5px 10px; /*Opera*/	
}

#boton{
	height: 40px;
	margin-left:20px;
	margin-right:20px;
	margin-top:30px;
	margin-bottom:10px;
	padding:5px;
	-webkit-border-radius: 5px 10px;  /* Safari  */
	-moz-border-radius: 5px 10px;     /* Firefox */
	-o-border-radius: 5px 10px; /*Opera*/
	background:#585858;
	width:130px;
	border-color:#585858;
	color:#fff;
}