<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="Foro de temas variados de ESPOL">
		<meta name = "keywords" content = "Buscar, Aulas,espol">
        <title>{% block title %}{% endblock %}</title>

        {% load staticfiles %}

		{% block estilo %}{% endblock %}

	</head>
	<body>
		<div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1A2421;">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>

						</button>
						<a class="navbar-brand" href="{% url 'mapa:index' %}">PoliFinder</a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'mapa:index' %}">Inicio</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">Acerca
								<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{% url 'mapa:acerca' %}">Vision y mision</a></li>
									<li><a href="{% url 'mapa:desarrolladores' %}">Desarrolladores</a></li>
									<li><a href="{% url 'mapa:timeline' %}">Linea de Tiempo</a></li>
								</ul>
							</li>
							<li><a href="{% url 'mapa:galeria' %}">Galeria</a></li>
							<li><a href="{% url 'mapa:faq' %}">FAQ's</a></li>
							<li><a href="{% url 'mapa:contacto' %}">Contactenos</a></li>
						</ul>
					</div>
				</div>
			</nav>
            {% block body %}
            {% endblock %}

		    <footer>
				<div class="footer" id="footer">
					<div class="container">
						<div class="row">
							<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
								<h3>Menu</h3>
								<ul>
									<li> <a href="{% url 'mapa:index' %}"> Inicio </a> </li>
									<li> <a href="{% url 'mapa:acerca' %}"> Acerca de </a> </li>
									<li> <a href="{% url 'mapa:galeria' %}"> Galeria </a> </li>
									<li> <a href="{% url 'mapa:faq' %}"> FAQ </a> </li>
									<li> <a href="{% url 'mapa:contacto' %}"> Contactenos </a> </li>
								</ul>
							</div>
							<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">

							</div>
							<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">

							</div>
							<div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">

							</div>
							<div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
								<h3> Contactenos </h3>
								<ul>
									<li>
										<div class="input-append newsletter-box text-center">
											<input type="text" class="full text-center" placeholder="Email ">
											<button class="btn  bg-gray" type="button"> lgcruz@espol.edu.ec <i class="fa fa-long-arrow-right"> </i> </button>
										</div>
									</li>
								</ul>
								<ul class="social">
									<li> <a href="https://www.facebook.com/"> <i class=" fa fa-facebook">   </i> </a> </li>
									<li> <a href="https://twitter.com/"> <i class="fa fa-twitter">   </i> </a> </li>
									<li> <a href="https://plus.google.com/"> <i class="fa fa-google-plus">   </i> </a> </li>
									<li> <a href="https://www.pinterest.es/"> <i class="fa fa-pinterest">   </i> </a> </li>
									<li> <a href="https://www.youtube.com/channel/UCBTW2oT9cV-3rJ3jOTgmTcg"> <i class="fa fa-youtube">   </i> </a> </li>
								</ul>
							</div>
						</div>
						<!--/.row-->
					</div>
					<!--/.container-->
				</div>
				<!--/.footer-->

				<div class="footer-bottom">
					<div class="container">
						<p class="pull-left"> Copyright © 2017. All right reserved. </p>
						<div class="pull-right">
							<ul class="nav nav-pills payments">
                				<li><i class="fa fa-cc-visa"></i></li>
								<li><i class="fa fa-cc-mastercard"></i></li>
								<li><i class="fa fa-cc-amex"></i></li>
								<li><i class="fa fa-cc-paypal"></i></li>
							</ul>
						</div>
					</div>
				</div>
				<!--/.footer-bottom-->
			</footer>

        </div>
	</body>
</html>