{% extends 'mapa/base.html' %}
{% load static from staticfiles %}
{% block title  %}Polifinder{% endblock %}
{% block estilo %}
	<link rel="stylesheet" href="{% static 'css/AcercaDeEstilo.css' %}" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
	<div class="container-fluid" id="contenido" >
		<div class="row">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div class="jumbotron">
					<table>
						<tr>
							<p>Si tienes alguna duda, escribenos</p>
							<td>
							   <table border="0" cellpadding="0" cellspacing="0" width="40%">
								   <tr>
									   <td width="70%">Nombre: </td>
									   <td width="50%"><input type="text" size="53" name="T1" placeholder="Nombre"></td>
								   </tr>
								   <tr>
									   <td width="70%">Email: </td>
									   <td width="50%"><input type="text" size="53" name="T2" placeholder="email"></td>
								   </tr>
								   <tr>
									   <td width="70%">Asunto: </td>
									   <td width="50%"><input type="text" size="53" name="T3" placeholder="Asunto"></td>
								   </tr>
								   <tr>
									   <td width="70%">Mensaje: </td>
									   <td width="50%"><textarea class="form-control" rows="5"></textarea></td>
								   </tr>
								   <tr>
									   <td width="50%"><button type="button" class="btn btn-success" >Enviar</button></td>
								   </tr>
							   </table>
							</td>
							<td>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
{% endblock %}